*{

	margin:0px;

	padding:0px;

	box-sizing: border-box;

	font-family: lucida console;

    font-size: 30px;
}

h1{

	text-align: center;

}

nav{

	width: 100%;

	height: 75px;

	background-color: white;

	line-height: 75px;

	padding:0px 100px;

	position:fixed;

	z-index: 1;

}

nav ul{

	float: right;

}

nav ul li{

	display: inline-block;

	list-style: none;

}

nav ul li a{

	color:black;

	text-decoration: none;

	font-size: 28px;

	text-transform: uppercase;

	padding:0px 32px;

}

nav ul li a:hover{

	color: lightcoral;
	/*This controls what color the buttons turn when the user hovers over the button*/
}

nav ul li .active{

	color:black;

}

.image img{

	width: 100%;

	height: 0px auto;

	opacity: 0.80;

	position: relative;


}

ol {

	list-style-type: circle;

	list-style-position: inside;

	margin-left: 10px;

	margin-right: 10px;

	margin-top: 10px;

	border: solid black 1px;

	margin-bottom: 10px;

	font-family: lucida console;

}

.p{

	margin-top: 10px;

	margin-bottom: 10px;

	margin-left: 10px;

	margin-right: 10px;

	border: solid black 1px;

	position: relative;


}




